:root {
  --primary-color: #f4b266;
  --primary-color-darker: #c9812f;
  --main-bg-color: #f5f5f5;
  --secondary-bg-color: #201f1f;
  --darkgrey-text: #5d5c5b;
  --third-grey-text: #525151;
  --secondary-grey-text: #8a8585;
}
