@import url('../../../css-variables.css');

.label-user-entry {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #6d6c6c;
}

.border-t-brand-color {
  border-top: 4px !important;
  border-top-color: #f4b266 !important;
  border-top-style: solid !important;
}

.radiated-card {
  radius: 8px;
  border-top: 4px !important;
  border-top-color: #f4b266 !important;
  border-top-style: solid !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.btn-brand-primary-submit {
  background-color: #f4b266 !important;
  border-radius: 8px !important;
  color: black;
  font-weight: bolder !important;
  font-size: 1.5vw !important;
  color: white !important;
  width: 100%;
  padding: 10px !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.btn-brand-primary-submit:hover {
  background-color: #d48830 !important;
}

.form_header {
  font-weight: bold;
  color: rgb(105, 103, 103);
}

#change_label {
  color: #f4b266;
}

.or-div {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(168, 167, 167);
  line-height: 0.1em;
  color: rgb(168, 167, 167);
  margin: 10px 0 20px;
}

.or-div span {
  background: #fff;
  padding: 0 10px;
}

.label-user-entry-registration {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #6d6c6c;
}
